<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../static/stytle.css">
</head>
<body>
    <div id="content">
        <div id="signup">
            <h1>An account login</h1>
            <form method="post" action="./page.html">
                <label>Account name</label><br>
                <input type="text" aria-label="text" name="nameUser"><br>
                <label>Account password</label><br>
                <input  type="password" aria-label="pass" name="password"><br>
                <input type="submit" value="submit" onclick="this.Client.prototype.type">
            </form>
            <form action="./sinup.html">
                <input type="submit" value="sign up" onclick="this.Client.prototype.type">
            </form>
        </div>
    </div>
</body>
</html>