<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/design.css" type="text/css">
</head>
<body>
    <div id="cotent-main">
        <div class="center">Trang ca nhan cua toi</div>
    </div>
    <div class="siaber-left">
        <ul>
            <li><a href="#">Trang chu</a></li>
            <li><a href="#">Thong tin</a></li>
            <li><a href="#">Hoc van</a></li>
            <li><a href="#">Que quan</a></li>
        </ul>
    </div>

</body>
</html>